body {
  background-color: hsl(250, 15%, 61%);
}

#game-title {
  display: flex;
  justify-content: center;
  background-color: hsl(252, 29%, 38%);
  width: 90vw;
  margin: -5px auto 0 auto;
  text-align: center;
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 1px 10px black;
}

#title-img {
  padding-bottom: 5px;
}

#game-content {
  display: flex;
  flex-direction: column;
  background-color: hsl(255, 21%, 39%);
  width: 80vw;
  padding: 20px;
  margin: 2px auto 0 auto;
  box-shadow: 8px 8px 25px hsl(128, 80%, 65%);
  border-radius: 0 0 10px 10px;
}

#game-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#img-div {
  display: flex;
  justify-content: center;
  background-color: hsl(249, 25%, 30%);
  width: 50%;
  align-content: center;
  padding: 5px;
  border-radius: 5px 0 0 5px;
}

#angel-image {
  width: 50%;
}

#game-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(90, 80%, 50%);
  text-align: center;
  width: 50%;
  padding: 5px;
  border-radius: 0 5px 5px 0;
}

#game-directions {
  background-color: orangered;
  padding: 20px;
  border-radius: 5px;
}

#current-word {
  background-color: orchid;
  padding: 20px;
}

#available-char {
  display: flexbox;
  margin: 20px;
}

.char-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.char-card {
  text-align: center;
  background-color: hsl(21, 91%, 55%);
  padding: 25px;
  font-size: 30px;
  color: hsl(284, 11%, 28%);
  border: hsl(128, 50%, 52%) 2px solid;
  border-radius: 8px;
  margin: 2px;
}

.char-card:hover {
  background-color: hsl(21, 91%, 45%);
  border-top: hsl(284, 70%, 80%) 2px solid;
  border-right: hsl(284, 70%, 80%) 2px solid;
  border-bottom: hsl(128, 70%, 45%) 2px solid;
  border-left: hsl(128, 70%, 45%) 2px solid;
}
